
.thumbnailListView .umb-content-list__span .umb-content-list__details {
    flex-grow: 1;
}

.thumbnailListView .umb-content-list__span  {
    width: 100%
}

    .thumbnailListView .umb-content-list__span .umb-content-list__details .umb-content-list__details-image {
        text-align: right;
    }


        .thumbnailListView .umb-content-list__span .umb-content-list__details .umb-content-list__details-image img {
            object-fit: cover;
        }

.thumbnailListView .umb-table-body .umb-table-row .umb-table-cell > * {
    white-space: normal;
}

.thumbnailListView .umb-table-body .umb-table-row {
    min-height: 50px;
}

    .thumbnailListView .umb-table-body .umb-table-row.-unpublished {
        opacity: .4;
    }

.thumbnailListView .umb-table-head .umb-table-head__link-image {
    justify-content: center;
}


.thumbnailListView .umb-table-head .full-width {
    width:100%;
}
.thumbnailListView .umb-table-head .centered {
    justify-content: center;
    display: flex;
}

